<div
    class="experimental-page"
    fxLayout.gt-md="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-evenly stretch"
    fxLayoutAlign.lt-md="center">
    <div fxFlex.gt-sm="50">
        <ngx-docs-example
            [title]="exampleTitle"
            [html]="exampleSources.html"
            [ts]="exampleSources.ts"
            [css]="exampleSources.css">
            <div class="body">
                <ng-content></ng-content>
            </div>
        </ngx-docs-example>
    </div>
    <source-tabs
        title="Other files"
        [files]="otherSources"
        fxFlex.gt-sm="50"></source-tabs>
</div>
